@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,300;1,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.navContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 10px 0px; /*cima esqueda direita baixo*/
  background-color: rgba(240, 248, 255, 0.116);
  border-radius: 10px;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;

}

.logo{
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
  font-size: 40px;
  font-weight: 100;
  color: #dce1de;
  cursor: pointer;
}

.navSection {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  font-weight: 100;
  
}

.navItens {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
  margin: 0px 5px;
  transition: 0.8s;
  width: 6em;
  height: 45px;
  border-radius: 6px;

}

.navItens:hover {

  background-color: #003055;

}

.menuNav{

  display: none;
  cursor: pointer;

}

.logo{
  text-decoration: none;
}


@media screen and (max-width: 840px){




  .navItens {
    transition: 0.8s;
    display: none;

  }

  .menuNav{
    
    display: flex;

    margin-right: 40px;
  
  }

}

@media screen and (max-width: 433px){
  
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .logo{
    display: none;
    transition: 0.8s;     

  }

}