

.imgContainer{
    padding: 2em;
    display: flex;
    margin: 2em;
    background-color: aliceblue;
    border-radius: 8px;

}

.imagem{
    width: 300px;
    border-radius: 14px;

}

.textMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}