@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,300;1,500&display=swap');

.Container{
    padding: 2em;
    display: flex;
    align-items: center;
    margin: 2em;
    background-color: rgba(240, 248, 255, 0.116);
    border-radius: 8px;
    overflow: hidden;
    min-height: 400px;
}

.imagem{
  
    width: 300px;
    border-radius: 6px;
    
}

.textMain {

    width: 100%;
    color: white;
    
}

.textMain h1{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.linguagens{
    
    align-items: center;
    width: 400px;    
}

.linguagens h1{
    text-align: center;

    font-size: 40px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.linha {
    align-items: center;
    width: 320px;
    border: 1px solid #003055;

}

a{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.cv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #003055;
    margin: 0 auto;
    color: aliceblue;
    cursor: pointer;
}