@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,300;1,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.navContainer {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 40px 10px 0px 10px; /*cima esqueda direita baixo*/
  background-color: rgba(240, 248, 255, 0.116);
  border-radius: 10px;

}

.logo{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 40%;
  margin-left: 40px;
  font-size: 40px;
  font-weight: 100;
  color: #dce1de;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  overflow: hidden;

}

.navSection {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;

}

.navItens {

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
  margin: 5px;
  transition: 0.8s;
  width: 180px;
  height: 45px;
  border-radius: 6px;
  
}

.navItens:hover {

  background-color: #003055;

}

.menuNav{
  display: none;
  margin: 5px;
  cursor: pointer;

}



@media screen and (max-width: 840px){

  .navContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80px;

  }
  .logo{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    overflow: hidden;
    transition: 0.8s;
    width: 300px;
  }
.navSection {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  transition: 0.8s;

  
  }

  .navItens {
    
    display: flex;
    margin: 2px;
    transition: 0.8s;
    background-color: #184e77;
    display: none;

  }
  .navItens:hover {

    background-color: #003055;
  
  }
  .menuNav{
    
    display: flex;
    margin: 5px;
    cursor: pointer;
    margin-right: 50px;
  
  }

}

@media screen and (max-width: 433px){
  
  .navContainer {
 
    width: 100%;

  }
  .navSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #003055;
    
  }
  .logo{
    display: none;
    transition: 0.8s;     
    height: 0%;
  }
  .menuNav{
    margin: 0;
    background-color: black;
  }

}